# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Output crawler files
crawlerapp/app/output/
crawlerapp/output/

# Logs
*.log